{% include 'incl/header.twig' %}

<body>
	{% include 'incl/nav.twig' %}

    <p>Hej</p>

	<div class="main" role="main">
        <a href="{{ base_url }}/image/sheep.jpg" target="_blank">
			<picture>
				<source media="(min-width: 668px)" srcset="{{ base_url }}/image/sheep.jpg">
				<img src="{{ base_url }}/image/sheep.jpg&w=667" alt="A sheep">
			</picture>
		</a>
	</div>

	{% include 'incl/footer.twig' %}
</body></html>
