{% include 'incl/header.twig' %}

<body>
	{% include 'incl/nav.twig' %}

	<div class="main tech-article" role="main">
		<aside class="aside">
			<h2>Genvägar:</h2>
			<ul>
				{% for page in pages("technology") %}
					<li>
						<a href="{{ page.url }}">{{ page.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</aside>

		<article class="article">
			{{ content }}
		</article>
	</div>

	{% include 'incl/footer.twig' %}
</body></html>
