/* Footer */

.footer {
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
    border-top: 1px solid #222;
}

.footer a {
    color: #222;
}

.footer .social {
    font-size: 2rem;
}
