/* landingpage-common */

.child-common {
    border: 2px solid rgb(0, 0, 0);
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.box-shadow:hover {
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 255);
}

.no-link {
    color: inherit;
    /*     text-decoration:none;
    pointer-events:none;
 */
}

.hed {
    grid-area: hed;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    text-align: center;
}

.hed p {
    text-align: center;
    font-style: italic;
}

