@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

@import 'mobile-menu';

body {
    background-color: $background-color;
}

* {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}

@import 'typografy';
@import 'placement';
@import 'header';
@import 'title';
@import 'footer';
@import 'blockquote';
@import 'code';
@import 'landingpage-technologies';
@import 'landingpage-reports';
@import 'landingpage-common';
@import 'article';
@import 'gallery';
@import 'video';
@import 'kmom05';


