/* technology */

.landingpage {
    margin: 0 auto 1rem auto;
    width: 90%;
    max-width: 1200px;

    display: grid;
    gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
        'tec tec tec'
        'css htm htm'
        'jav jav php'
        'pyt pyt pyt'
        'git sql sql';
}

@media screen and (max-width: 767px) {
    .landingpage {
        grid-template-areas:
            'tec'
            'css'
            'htm'
            'jav'
            'php'
            'pyt'
            'git'
            'sql';
    }
}

.child-common {
    border: 2px solid black;
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.child-common:hover {
    box-shadow: 5px 5px 5px 5px blue;
}

.no-link {
    color:inherit;
/*     text-decoration:none;
    pointer-events:none;
 */
}

.tec {
    grid-area: tec;    
    color: black;
    background: white;
    text-align: center;
}

.css {
    grid-area: css;
    color: white;
    background: blueviolet;
}

.htm {
    grid-area: htm;
    color: white;
    background: rgb(72, 85, 106);
}

.jav {
    grid-area: jav;
    color: black;
    background: white;
}

.php {
    grid-area: php;
    color: white;
    background: rgb(25, 33, 46);
}

.pyt {
    grid-area: pyt;
    color: white;
    background: blueviolet;
}

.git {
    grid-area: git;
    color: white;
    background: rgb(25, 33, 46);
}

.sql {
    grid-area: sql;
    color: black;
    background: white;
}