/* Title */

.title,
.logo {
    padding: 3em 3em 0 1em;
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 0 0.5em;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }
}

.title * {
    color: $title-color;
}

.title p {
    font-style: italic;
}
